<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Here is tittel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <style>
        #banner {
            height: 360px;
            width: 100%;
            object-fit:cover;
            margin-bottom: 16px;
        }
        </style>
    </head>
    <body>
        {% include 'header.html' %}
        <h1>The content is here</h1>
        {% include 'footer.html' %}
    </body>
</html>