<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Page</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
        <style>
          .gradient-custom {
          /* fallback for old browsers */
          background: #7d6a7f;
          }
          
          .card-registration .select-input.form-control[readonly]:not([disabled]) {
          font-size: 1rem;
          line-height: 2.15;
          padding-left: .75em;
          padding-right: .75em;
          }
          .card-registration .select-arrow {
          top: 13px;
          }
        </style>
       
    </head>

    <body>
        <section class="vh-100 gradient-custom">
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
          
                      <div class="mb-md-5 mt-md-4 pb-5">

                        <h2 class="fw-bold mb-2 text-uppercase">Login for Patients</h2>
                        <p class="text-white-50 mb-5">Please enter your login and password!</p>

                        <form method = "POST">
                          <div class="form-outline form-white mb-4">
                              <label class="form-label" for="typePhoneX">Phone Number</label>
                              <input type="tel" id="typePhoneX" name="phone_number" class="form-control form-control-lg" /> 
                          </div>
            
                          <div class="form-outline form-white mb-4">
                              <label class="form-label" for="typePasswordX">Password</label>
                              <input type="password" id="typePasswordX" name="password" class="form-control form-control-lg" /> 
                          </div>
          
                          <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                        </form>
          
                      </div>
          
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
